<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema RSC-TAE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'painel_servidor' %}">Sistema RSC-TAE</a>
          <div class="d-flex text-white align-items-center">
                {% if user.is_authenticated %}
                    <span class="me-3">Olá, {{ user.servidor.nome|default:user.username }}</span>

                    <form method="post" action="{% url 'logout' %}" class="m-0">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-light btn-sm">Sair</button>
                    </form>

                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm">Entrar</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>